<% layout("/layouts/boilerplate") %>
<body>
  <!-- <form method = "GET" action = "/listings/new">
    <button>Create New Listing</button>
  </form> -->
  <br />
  <h2>All Listings</h2>
  <div class="row row-col-lg-3 row-col-md-2 row-col-sm-1">
    <%for(listing of allListings){%>
    <div class="col">
      <a
        href="/listings/<%=listing._id%>"
        style="text-decoration: none; color: inherit"
      >
        <div class="card" style="width: 18rem">
          <img
            src="<%=listing.image%>"
            class="card-img-top"
            alt="image-listing"
            style="height: 20rem"
          />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">
              &#8377;<%= listing.price.toLocaleString("en-IN") %>/ night
            </p>
          </div>
        </div>
      </a>
    </div>
    <%}%>
  </div>
</body>
